<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pagina principal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">
</head>


<body class="fons-principal container-fluid">
<header class="row sticky-top border-bottom border-dark">
    <nav class="navbar navbar-expand-lg navbar-light bg-header py-1">
        <div class="col-lg-5 col-12">
            <button class="navbar-toggler btn btn-sm border-2 border-dark px-2 me-1 shadow-none none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/"><img src="/img/BikeTour250x141.webp" width="120" height="55" alt="..."></a>
            <a class="navbar-brand d-sm-inline d-none" href="/"><span class="h4">Mallorca Bike Tour</span></a>
        </div>
        <div class="collapse navbar-collapse col-7 justify-content-end pe-4" id="navbarSupportedContent">
            <ul class="navbar-nav mb-lg-0 gap-4">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/historial-productes">Productes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/historial-usuaris">Usuaris</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/valoracions">Valoracions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/formulari-lloguer">Formulari lloguer</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-black" aria-current="page" href="/historial-productes">Productes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" aria-current="page" href="/historial-usuaris">Usuaris</a>
                </li>
                <li>
                    <a class="nav-link text-black" href="/valoracions">Valoracions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" href="/formulari-lloguer">Formulari lloguer</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container-fluid col-12  justify-content-center bg-image pt-3">
    <div class="row rounded-3" style="background-color:black;text-align: center;">
        <h1 class="h1 my-4 text-white" style="margin-top:20px">¡Benvingut a Rent a Bike & Scooter!</h1>
        <div class="col-md-6 col-sm-12 justify-content-center" style=" padding-top: 20px;">
            <a href="#"><img src="/img/bicicletes/bicicleta-montanya.webp" class="img-thumbnail" alt="..."></a>
            <h2 class="h3 text-white my-3" style="margin-top: 10px">Les nostres bicicletes</h2>
        </div>
        <div class="col-md-6 col-sm-12 justify-content-center" style=" padding-top: 20px;">
            <a href="#"><img src="/img/patinets/patinet-electric.webp" class="img-thumbnail" alt="..."></a>
            <h2 class="h3 text-white my-3" style="margin-top: 10px">Els nostres patinets</h2>
        </div>

    </div>
    <div class="row justify-content-center pb-3 pt-3" style=" margin-top: 20px;text-align: center;">
        <div class="col-md-6 col-sm-12 rounded-3" style="background-color: black; padding-top: 20px;">
            <a href="#"><img src="/img/patinets/PagPrincPatinete.webp" class="img-thumbnail" alt="..." ></a>
            <h2 class="h3 text-white my-3" style="margin-top: 10px">El nostre portal de venta de segona má</h2>
        </div>
    </div>
</div>
<footer class="row py-3 bg-dark justify-content-around border-bottom border-light border-2">
    <div class="col-md-3 col-12 my-3" id="map"></div>
    <div class="col-md-3 col-5 my-3">
        <h3 class="h5 mb-1 text-decoration-underline text-white">Coneixemos</h3>
        <p class="small mb-1 text-white">Illes Balears</p>
        <p class="small mb-1 text-white">C/Cami de s'es flors nº50, 07550</p>
        <p class="small mb-1 text-white">Tel. Fixo: 971567812</p>
        <p class="small mb-1 text-white">Tel. Movil: 667485213</p>
        <p class="small mb-1 text-white">Email: fanbicis@gmail.com</p>
        <a class="text-white text-decoration-none" href="/sobre-nosaltres" target="_blank"><p class="small mb-1">De nosaltres</p></a>
    </div>
    <div class="col-md-3 col-5 my-3">
        <h3 class="h5 mb-1 text-decoration-underline text-white">Enllaços d'interes</h3>
        <a class="text-white" href="https://www.ferrerhotels.com/travellost/rutas-ciclistas-de-mallorca/" target="_blank"><p class="small mb-1">Rutes de mallorca</p></a>
        <a class="text-white" href="https://es.wikiloc.com/rutas/descenso-mtb/espana/illes-balears" target="_blank"><p class="small mb-1">Rutes de descens</p></a>
        <a class="text-white" href="http://localhost:63342/Backend-private/static/html/index.html?_ijt=n0opdfa6u4d0htjd4edm6l440i&_ij_reload=RELOAD_ON_SAVE" target="_blank"><p class="small mb-1">Quina bici et va millor</p></a>
        <a class="text-white" href="https://revista.dgt.es/es/educacion-formacion/reportajes/2021/0930-Normas-ciclistas.shtml" target="_blank"><p class="small mb-1">Normes al volant</p></a>
        <a class="text-white" href="https://www.hotelaya.com/blog-private/restaurantes-para-ciclistas-mallorca" target="_blank"><p class="small mb-1">Gastronomia damunt rodes</p></a>
        <a class="text-white" href="https://www.hotelaya.com/blog-private/restaurantes-para-ciclistas-mallorca" target="_blank"><p class="small mb-1">Coses interesants</p></a>
    </div>
</footer>
<footer class="row bg-footer pt-3">
    <div class="col-12 text-center">
        <img src="/img/BikeTour250x141.webp" width="125" height="60" alt="...">
    </div>
    <div class="col-12 text-center">
        <p class="text-white"> Copyright © 2015-2022 Mallorca Bike Tour</p>
    </div>
</footer>
<script src="/js/bootstrap.bundle.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRLXnIEY1UHbKR-j8cOCKYQ3Ouk2NJ7ao&callback=initMap&v=weekly" async></script>
<script>
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 39.71358, lng: 3.46076 },
            zoom: 20,
        });
    }
</script>

</body>

</html>