// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/root";

// 4. Include any optional Bootstrap CSS as needed
@import "../../../../../node_modules/bootstrap/scss/utilities";
@import "../../../../../node_modules/bootstrap/scss/reboot";
@import "../../../../../node_modules/bootstrap/scss/type";
@import "../../../../../node_modules/bootstrap/scss/images";
@import "../../../../../node_modules/bootstrap/scss/containers";
@import "../../../../../node_modules/bootstrap/scss/grid";
@import "../../../../../node_modules/bootstrap/scss/helpers";

// 5. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../../../../node_modules/bootstrap/scss/utilities/api";

//6. Add aditional custom code here

// colors personalitzats
$color-perso:(
        "blau-0": #F0F8FF,
        "blau-1": #B0E0E6,
        "blau-2": #ADD8E6,
        "blau-3": #87CEFA,
        "blau-4": #87CEEB,
        "blau-5": #00BFFF,
        "blau-6": #1E90FF,
        "blau-7": #6495ED,
        "blau-8": #4169E1,
        "blau-9": blue,
        "blau-10": #00008B,
        "secondary": #009900,
        "danger":  #B50C00,
        "primary": #4169E1
);



//Merge the maps
$theme-colors: map-merge($theme-colors, $color-perso);
$theme-colors-rgb: map-merge($theme-colors-rgb, $color-perso);
$utilities-bg-colors: map-merge($utilities-bg-colors, $color-perso);
$utilities-text-colors: map-merge($utilities-text-colors, $color-perso);


//importam tot el boostrap
@import "../../../../../node_modules/bootstrap/scss/bootstrap.scss";


//Tipografia

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
*{
  font-family: Hind Siliguri;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//custom layout

//Colors

.bg-footer{
  background-color: #030015;
}
.bg-header{
  background-color: #F2FAF7;
}

//
.underline{

  border-bottom: 1px solid grey;
}

//Fons dels formularis
.fons{
  background-image: url("../img/fons.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
//Fons plana principal

.fons-principal{
  background-image: url("../img/biciWallpaper.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;

}
body, .complet {
  min-height: 100vh;
}

//Articles
.seleccio:hover{
  background-color: #EBEBEB !important;
}

//Mapa

#map{
  height: 175px;
  width: 450px;

  @media (max-width: 1200px) {
    width: 300px;
  }

  @media (max-width: 768px) {
    width: 550px;
  }
  @media (max-width: 576px) {
    width: 350px;
  }
}

//Paginacio

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}

ul.pagination li a.active {
  background-color: #4169E1;
  color: white;
  border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

//Carousel carousel

$carousel-transition-duration: 2s;

//Estrelles

.valoracion {
  display: flex;
  flex-direction: row-reverse;
  --color-inactivo: #5f5050;
  --color-hover: #ffa400;
}
.valoracion .star {
  background-color: initial;
  border: 0;
  color: var(--color-inactivo);
  transition: 1s all;
}
.valoracion .star:hover {
  cursor: pointer;
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(1):hover ~ .star {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(2):hover ~ .star {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(3):hover ~ .star {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(4):hover ~ .star {
  color: var(--color-hover);
  transform: rotate(360deg);
}
button:nth-child(5):hover ~ .star {
  color: var(--color-hover);
  transform: rotate(360deg);
}

//Fonts importades
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

//fons per InformaciióEmpresa
#adalt {
  background-image: url('../img/fons.webp');
  background-repeat: no-repeat;
  height: 600px;
}